@font-face {
    font-family: 'Geminis';
    src: url('../fonts/BD_Geminis/BD_Geminis.otf');
    src: url('../fonts/BD_Geminis/BD_Geminis.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
    src: url('../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;

    background-image: url('~@/assets/images/stars-background.png');
    background-size: contain;
    background-repeat: repeat;
    z-index: -1;
    background-color: #090B31;
    
}

.geminis {
    font-family: 'Geminis';
}

.text-right {
    text-align: right;
    margin-right: 20px;
}
.text-left {
    text-align: left;
    margin-left: 20px;
}

.text-center {
    text-align: center;
}

.sub-title {
    font-size: 10px;
    margin-top: -20px;
}

.label-progress{
    font-size: 12px;
    font-weight: bold;
}

.progress-bar {
    width: 438px;
    height: 8px;
}

.progress-bar::-webkit-progress-bar {
    border-radius: 5px;
    background-color: #090B31;
}

.progress-bar::-webkit-progress-value {
    border-radius: 5px;
    background-color: #44F5BA;
}
.progress-value {
    font-size: 10px;
    font-weight: bold;
}

.progressbar {
    margin-top: -13px;
}
.bar {
    margin-top: -15px;
}